[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[[source]]
url = "https://nexus.engageska-portugal.pt/repository/pypi/simple"
name = "nexus"
verify_ssl = true

[packages]
m2r = "*"
sphinx = {version = "*", index = "nexus"}
sphinx-rtd-theme = {version = "*", index = "nexus"}
sphinxcontrib-websupport = {version = "*", index = "nexus"}
lmcbaseclasses = {version = "*", index = "nexus"}

[dev-packages]
sphinx-autobuild = {version = "*", index = "nexus"}
pytest = {version = "*",index = "nexus"}

[requires]
python_version = "3.6"
