[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://nexus.engageska-portugal.pt/repository/pypi/simple"
verify_ssl = true
name = "nexus-hosted"

[packages]
#pytango = "*"
pylint2junit = "*"
jsonschema = "*"
ska-sdp-config = ">=0.0.5"
#ska-sdp-logging = ">=0.0.5"
# ---- Inherited from base class, not installed again here as depends on git ------
#lmcbaseclasses = {git = "https://github.com/ska-telescope/lmc-base-classes.git", editable = true}
lmcbaseclasses = "==0.4.0+5bdedbed"

[dev-packages]

[requires]
python_version = "3.7"
