[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

#[[source]]
#url = "https://nexus.engageska-portugal.pt/repository/pypi/simple"
#name = "nexus"
#verify_ssl = true

[packages]
pytango = {version="*", index="pypi"}
lmcbaseclasses = {git = "https://github.com/ska-telescope/lmc-base-classes.git",editable = true}

[dev-packages]
pytest = "*"
pytest-pylint = "*"
pytest-codestyle = "*"
pytest-pydocstyle = "*"
# pytest-cov = "*"
# coverage = "*"
# coveralls = "*"
# codecov = "*"

[requires]
python_version = "3.6"
