jsonschema
ska-sdp-config>=0.0.8
ska-sdp-logging>=0.0.6
ska-telescope-model
schema
pytest
pytest-pylint
pytest-pycodestyle
pytest-pydocstyle
pytest_bdd
pyassert
pytest-cov
pytest-json-report
pylint2junit