[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[[source]]
url = "https://nexus.engageska-portugal.pt/repository/pypi/simple"
name = "nexus"
verify_ssl = true

[packages]
lmcbaseclasses = {version = "*",index = "nexus"}

[dev-packages]

[requires]
python_version = "3.6"
