[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

# [[source]]
# url = "https://nexus.engageska-portugal.pt/repository/pypi/simple"
# name = "nexus"
# verify_ssl = true

[packages]
pytest = "*"
pytest_bdd = "*"
pytest-codestyle = "*"
pytest-pydocstyle = "*"
pytest-cov = "*"
coveralls = "*"

## NOT availiable for Python 3.5?!
# pytest-pylint = "*"
# coverage = "*"
# codecov = "*"

[requires]
python_version = "3.5"
