[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

# [[source]]
# url = "https://nexus.engageska-portugal.pt/repository/pypi/simple"
# name = "nexus"
# verify_ssl = true

[packages]
mock = "*"
pyassert = "*"
pact-python = "*"
pytest = "*"
pytest-mock = "*"
pytest_bdd = "*"
pytest-pylint = "*"
pytest-codestyle = "*"
pytest-pydocstyle = "*"
pytest-cov = "*"
coveralls = "*"

[requires]
python_version = "3.7"
