[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

# [[source]]
# url = "https://nexus.engageska-portugal.pt/repository/pypi/simple"
# name = "nexus"
# verify_ssl = true

[dev-packages]
mock = "*"
assertpy = "*"
pact-python = "*"
pytest = "*"
pytest-mock = "*"
pytest_bdd = "*"
pytest-pylint = "*"
pytest-timeout = "*"
pytest-codestyle = "*"
pytest-pydocstyle = "*"
pytest-cov = "*"
coveralls = "*"

[packages]
wheel = "*"
jsonschema = "*"
ska-sdp-config = "*"

[requires]
python_version = "3.7"
