[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-pycodestyle = "*"
pytest-pydocstyle = "*"
pytest-pylint = "*"
pytest-timeout = "*"
twine = "*"

[packages]
docopt-ng = "*"
etcd3-py = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
